02--XML_Cours_Q3/public_html/bibliotheque.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT bibliotheque (allee+)>
<!ELEMENT allee (rayon+)>
<!ELEMENT rayon (ouvrage*)>
<!ELEMENT ouvrage (types)>
<!ELEMENT types (EMPTY)>


<!ATTLIST allee numero CDATA #REQUIRED>
<!ATTLIST rayon numero CDATA #IMPLIED>
<!ATTLIST ouvrage titre CDATA #REQUIRED>
<!ATTLIST ouvrage auteur CDATA #IMPLIED>
<!ATTLIST ouvrage numero CDATA #IMPLIED>
<!ATTLIST types typesOuvrage (litterature | manuelScolaire | periodique | scienceEtTechnique) "litterature">